<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>capas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servleteditar</display-name>
    <servlet-name>Servleteditar</servlet-name>
    <servlet-class>Servlet.Servleteditar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servleteditar</servlet-name>
    <url-pattern>/Servleteditar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servletmostrar</display-name>
    <servlet-name>Servletmostrar</servlet-name>
    <servlet-class>Servlet.Servletmostrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletmostrar</servlet-name>
    <url-pattern>/Servletmostrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servletmodificar</display-name>
    <servlet-name>Servletmodificar</servlet-name>
    <servlet-class>Servlet.Servletmodificar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletmodificar</servlet-name>
    <url-pattern>/Servletmodificar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servleteliminar</display-name>
    <servlet-name>Servleteliminar</servlet-name>
    <servlet-class>Servlet.Servleteliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servleteliminar</servlet-name>
    <url-pattern>/Servleteliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servletborrar</display-name>
    <servlet-name>Servletborrar</servlet-name>
    <servlet-class>Servlet.Servletborrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletborrar</servlet-name>
    <url-pattern>/Servletborrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>Servlet.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serveltserves</display-name>
    <servlet-name>Serveltserves</servlet-name>
    <servlet-class>Servlet.Serveltserves</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serveltserves</servlet-name>
    <url-pattern>/Serveltserves</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ingresar3</display-name>
    <servlet-name>ingresar3</servlet-name>
    <servlet-class>Servlet.ingresar3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingresar3</servlet-name>
    <url-pattern>/ingresar3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ingresar1</display-name>
    <servlet-name>Ingresar1</servlet-name>
    <servlet-class>Servlet.Ingresar1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ingresar1</servlet-name>
    <url-pattern>/Ingresar1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IngresarU</display-name>
    <servlet-name>IngresarU</servlet-name>
    <servlet-class>Servlet.IngresarU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngresarU</servlet-name>
    <url-pattern>/IngresarU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostarU</display-name>
    <servlet-name>MostarU</servlet-name>
    <servlet-class>Servlet.MostarU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostarU</servlet-name>
    <url-pattern>/MostarU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarU</display-name>
    <servlet-name>ModificarU</servlet-name>
    <servlet-class>Servlet.ModificarU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarU</servlet-name>
    <url-pattern>/ModificarU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarUsuario</display-name>
    <servlet-name>ModificarUsuario</servlet-name>
    <servlet-class>Servlet.ModificarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarUsuario</servlet-name>
    <url-pattern>/ModificarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarU</display-name>
    <servlet-name>BorrarU</servlet-name>
    <servlet-class>Servlet.BorrarU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarU</servlet-name>
    <url-pattern>/BorrarU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Borrar</display-name>
    <servlet-name>Borrar</servlet-name>
    <servlet-class>Servlet.Borrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrar</servlet-name>
    <url-pattern>/Borrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>Servlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servletlogin</display-name>
    <servlet-name>Servletlogin</servlet-name>
    <servlet-class>Servlet.Servletlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletlogin</servlet-name>
    <url-pattern>/Servletlogin</url-pattern>
  </servlet-mapping>
</web-app>